.swiper-button-next, .swiper-button-prev {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
    
.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.hero_heading {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}
.hero_heading:before, .hero_heading:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: white;
  color: white;
}
.hero_heading:before {
  margin-left: -50%;
  text-align: right;
}